body{
	background-color: rgb(69,69,69);
	margin: 30 32px;
	padding: 30px;
	border: double;
	border-radius: 50px;
}

p {
    color: rgb(183,98,21);
}

h1{
	font-family: Comic Sans MS, helvetica, sans-serif;
}

a {
    color: B35F3B;
}


.importantQuote{
	border: 200 px;
	border-style: dashed;
	border-width: 3px;
	margin: 30px;
	padding: 25px;
	border-color: rgb(32,32,32)
}
#mainContent {
	margin-left: 78px;
	background-color: rgb(69,69,69);
}

#navBar {
	background-color: rgb(132,32,20);
	margin-top: 0px;
	margin-left: -30px;
	position: fixed;
	height: 100%;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 3px;
	top: 0px;
	left: 0px;
}

#navBar ul li a {
	color: rgb(250,9,145);
	text-decoration: none;
	display: block;
}

#navBar ul {
	list-style-type: none;
	margin-left: -10px;
}